@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


:root {
  /* variavel para armazenar as fontes*/
  --font-primary: "Baloo 2", serif;
  --font-secondary: "Josefin Slab", serif;
  --font-action: "Mulish", serif;
}
.menu-lateral{
  /*background-color: red;*/

  width: 3rem;
  height: 3rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  cursor: pointer;
}
.line{
  width: 100%;
  background-color: #fff;
  height: 5%;
  box-shadow: 1px 3px 2px black;
}

header {
  width: 100%;
  height: 100vh; /*100vh é pra RESPONSIVIDADE significa que a imagem ocupa 100% da altura de visualização que a pagina for carrega*/
  overflow: hidden; /*Impede de um elemento ultrapassa largura da pagia evita barra de rolagem na parte de baixo*/
  position: relative;
}

.img-wrapper {
  width: 100%; /*img-wrapper esta dentro do header entao vai ocupa 100% da lagura header*/
  height: 100%; /*img-wrapper esta dentro do header entao vai ocupa 100% da altura header*/
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
 
}

.img-wrapper img {
  width: 100%; /*img-wrapper esta dentro do header entao vai ocupa 100% da lagura header*/
  height: 100%; /*img-wrapper esta dentro do header entao vai ocupa 100% da altura header*/
  object-fit: cover;
  opacity: 20%;
  /*A propriedade CSS object-fit especifica como o conteúdo de um elemento substituído deve ser ajustado à caixa*/
  /*cover - O conteúdo substituído é dimensionado para manter sua proporção e preencher toda a caixa*/
  animation: zoom 15s infinite;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner {
  position: absolute; /*ATENÇÃO: elemento com posicionamento ABSOLUTO deve esta dentro de elemento com posicionamento RELATIVO*/
  top: 30%;
  left: 15%;

}
@keyframes moverBanner {
    0%{
    transform: translateY(10rem) rotateY(-30deg);
    opacity: 0.1;
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
.banner h1 {
  color: #fff;
  font-size: 3.5rem; /*rem = root html element 1rem = 16px,*/
  font-family: "Baloo 2", serif; /*Casso a primeira fonte nao for carrega ele usa a segunda*/
  font-weight: 200; /*espesura fonte*/
  text-shadow: 1px 3px 2px black;
  /*           x   y  defoc cor*/
  line-height: 4rem;
  margin-bottom: 2rem;
  animation: moverBanner 1s;
}

.banner p {
  color: #fff;
  font-size: 2.5rem; /*rem = root html element 1rem = 16px,*/
  font-family: "Josefin Slab", serif; /*Casso a primeira fonte nao for carrega ele usa a segunda*/
  font-weight: 200; /*espesura fonte*/
  text-shadow: 1px 3px 2px black;
  /*           x   y  defoc cor*/
  line-height: 5rem;
  margin-bottom: 2rem;
  animation: moverBanner 1.3s;
}

.banner button {
  font-family: "Mulish", serif;
  font-size: 1.3rem; /*rem = root html element 1rem =  
  background: #8E2DE2;  /* fallback for old browsers */
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 100;

  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  padding: 1rem 1rem;

  border: none;
  border-radius: 0.7rem;
  
  cursor: pointer;
  animation: moverBanner 1.6s;
}

.banner button:hover {
    opacity: 0.8;
}

.slider-bar{
  width: 20rem;
  height: 100vh;
  background-color:#fff;
  position: fixed;
  z-index: 99;
  top: 0;
  right: -20rem;
  transition: 1s;
}
.slider-bar.show-menu{
  right: 0;
}

.menu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-midia{
 /* background-color: red;*/
  position: absolute;
  bottom: 10%;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social-midia i{
  /*background-color: green;*/
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2.5rem;
  align-items: center;
  border-radius: 50%;
  color:#0575E6
}
.social-midia i:hover{
  /*background-color: green;*/
    color:#00F260;
}

.menu-item{
  margin-bottom: 1rem;
}

.menu-link{
  font-family: var(--font-action);
  font-size: 2rem;
  color: rgb(53, 51, 51);
}
.menu-link:hover{
  color: #60a710;
}

.sessao-conhecimentos {
  background-color: #f5f5f5;
  height: 100%;
}

.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #4b4b4b;
  border-bottom: solid 3px #6a3093;
  margin-bottom: 1.5rem;
}

.conhecimento-header h1{
  font-family: var(--font-primary);
  font-size: 3rem;
  padding-left: 1rem;
}

.conhecimentos{
  height: 80rem;
  display: grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(6, 12rem);
  background-color: #f5f5f5f5;
  row-gap: 6;
} 

.conhecimento-header{
  display: flex; /*faz itens fica um ao lado do outro*/
  align-items: center;
}

.conhecimento-header i{
font-size: 2.5rem;
align-items: center;
}

.conhecimento-text{
  text-align: justify;
  font-family: var(--font-primary);
  font-size: 1rem;
  margin-top: 0.5rem;
}

.conhecimento-img{
  grid-column: 7 / 10;
  grid-row: 3 / 10;
  width: 100%;
}

.conhecimento-img img{
  object-fit: cover;
  width: 100%;
} 

.conhecimento:nth-child(1){
  grid-column: 4 / 8;
  grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
  grid-column: 2 / 6;
  grid-row: 3 / 5;
}

.conhecimento:nth-child(3){
  grid-column: 4 / 8;
  grid-row: 5 / -1;
}

.conhecimento:nth-child(4){
  grid-column: 10 / 14;
  grid-row: 1 / 3;
}

.conhecimento:nth-child(5){
  grid-column: 12 / 16;
  grid-row: 3 / 5;
}

.conhecimento:nth-child(6 ){
  grid-column: 11 / 15;
  grid-row: 5 / -1;
}



.projetos{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.card {
  width: 18rem;
  height: 25rem;
  position: relative;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

.card-info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

.card-info h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}

.card-info h3 {
  font-family: var(--font-action);
  font-weight: bolder;
  color: #ff4081;
  margin-bottom: 1.5rem;
}

.card-info p {
  font-family: var(--font-secundary);
  color: #eee;
  font-weight: 400;
  width: 80%;
  margin-bottom: 2rem;
}

.btn {
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to left, #a044ff, #6a3093);
  font-family: var(--font-action);
  color: #eee;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

.card-info button {
  width: 8rem;
  height: 2.5rem;
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}
